*.exe
*.cds
*.lst
*.asm
*.so
Magic116_Prompt.cpp
genlongatk.cpp
lijing.cpp
Tools/intToFloat.cpp
froslass.zip
froslass_genskills.cpp
froslass_magic.cpp
froslass_magic.ini
froslass_magic_origin.cpp
froslass_system.cpp
froslass_things.INI
magic_froslass.cpp
